body {
    background-color: #fff;
    padding-left: 100px;
    padding-top: 15px;
}

.App-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
}

.AppIcon.right {
    position: absolute;
    top: 48px;
    right: 0;
    padding-right: 10px;
}

.button {
    background-color: #0000ae;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 3px;
}

.button:hover {
    background-color: #6363ff;
}

.icon-row {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3px;
}

.icon-line {
    width: 1px;
    height: 20px;
    background-color: rgb(191, 190, 190);
    margin: 0 15px;
}

.icon-text {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}

.rev {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding-right: 10px;
}

.rat {
    display: flex;
    flex-direction: row;
}