.gridbuttons {
  margin-left: 100px;
  margin-top: 50px;
}

.gridbuttons .gridbutton {
  background-color: #0000ae;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 20px;
}

.gridbuttons .gridbutton:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.gridbuttons .gridbutton:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .gridbuttons .gridButton {
    padding: 16px 48px;
  }
}

.grid {
  display: grid;
  grid-template: 100px / auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 0px 100px 0px 0px;
}

.grid-container {
  margin-left: 150px;
  margin-top: 30px;
}

.grid-container .item {
  display: flex;
  margin-top: 2vh;
  margin-right: -2vw;
}

.grid-container .item img {
  border-radius: 25%;
  width: 70px;
  height: 70px;
  margin-right: 1vw;
}
