header {
  background-color: #1a1d24;
}

.container {
  max-width: 98rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.nav-list {
  position: relative;
  display: flex;
  list-style: none;
}

.nav-item {
  min-width: 10rem;
  text-align: center;
  padding-block: 1rem;
}

.nav-link {
  text-transform: uppercase;
}

.active {
  position: absolute;
  bottom: -1rem;
  height: 2px;
  width: 10rem;
  background-color: #fff;
  transition: transform 0.25s;
}

.nav-item:nth-child(2):hover ~ .active {
  transform: translateX(10rem);
}

.nav-item:nth-child(2):hover ~ .active {
  transform: translateX(20rem);
}

.nav-item:nth-child(2):hover ~ .active {
  transform: translateX(30rem);
}
